/*styling body */
body {
  background-image: linear-gradient(140deg,hsl(136, 94%, 4%), hsl(291, 35%, 15%));
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  margin: 0;

  overflow-x: hidden;
}

/* styling main */
main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*styling h1 */
h1 {
  padding-top: 5rem;
  
  margin: 0;

  text-align: center;

  filter: drop-shadow(5px 5px 5px black);

  color: whitesmoke;
}

p {
  margin: auto;

  max-width: 40ch;
  min-width: 20ch;
  text-align: left;

  padding: 1rem;

  line-height: 2;

  color: #fdeea6;
}

/* styled footer */
footer {
  padding: 1rem;
  
  margin-top: 190px;

  flex: auto;
}

/* styled footer p */
footer p {
  text-align: center;

  margin: auto;
}

/* styled logo */
.logo {
  display: flex;
  justify-content: flex-start;
  float: left;

  width: 100px;
  height: 50px;

  padding: 1rem;
}

.photographer {
  width: 45vw;
  height: 60vh; 

  margin: auto;

  border: solid;
  border-color: pink;
  border-radius: 20%;
}

@media (width > 45rem) {
  body {
    background-image: linear-gradient(210deg,hsl(136, 94%, 4%), hsl(136, 23%, 40%), hsl(291, 35%, 15%));
  }
}