/*styling body */
body {
  background-color: #eadfc1;
}

/* styling main */
main {
  display: grid;
  grid-template-columns: 1fr 1fr; 
}

p {
  margin: auto;

  font-family: Helvetica, sans-serif;
  font-size: 20px;

  max-width: 85ch;
  text-align: justify;

  padding: 0;

  line-height: 2;
}

/* styled logo */
.logo {
  display: flex;
  justify-content: flex-start;
  float: left;

  width: 100px;
  height: 50px;

  padding: 1rem;
}

/* styled label */
label {
  color: white;

  padding: 1rem;
}

h1 {
  padding: 10px;
  margin: 0;

  text-align: center;

  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 65px;

  filter: drop-shadow(5px 5px 5px black);

  color: black;
}

.photographer {
  width: 25vw;
  height: 60vh;

  margin: auto;
}

/*styling nav */
nav {
  display: flex;
  justify-content: space-between;

  font-family: Helvetica, sans-serif;
}

/* styling navbar*/
 nav ul {
  padding: 1rem;

  display: none;
   
  list-style: none;
  
  gap: 1rem;
 }

/* nav hover */
nav a:hover {
  background-color: lightsalmon;
  
  padding: 1rem;
}

a {
  text-decoration: none;
}

/* nav buttons */
nav a {
  color: white;

  font-size: 20px;
}

/* for label */
input {
  display: none;
}

/* ensures no checkboxes */
input:checked + ul {
  display: block;
}

/* nav buttons */
nav a {
  color: white;
}

footer {
  padding: 1rem;
  
  background-color: #eadfc1;

  margin-top: 200px;

  flex: auto;
}

footer p {
  text-align: center;
}

/* used different color for nav */
@media (color) {
  nav {
    background-color: #282828;
  } 
  nav ul {
    background-color: #282828;
  }
}

/* to make it mobile friendly */
@media (min-width: 50rem) {
  nav ul {
    display: flex;
    justify-content: flex-end;  
    align-items: center;
  }
}

/*toggle */
@media screen and (width > 50rem) {
  nav ul {
    display: flex;
    justify-content: space-evenly;
  }

  label {
    display: none;
  }
}

