/*styling body */
body {
  /* background-image: linear-gradient(240deg,hsl(68, 93%, 36%),hsl(43, 91%, 35%), hsl(60, 80%, 14%),hsl(82, 96%, 18%)); */
  background-image: linear-gradient(240deg, hsl(195, 53%, 79%), hsl(291, 35%, 15%), hsl(145, 72%, 45%));

  margin: 0;
}

/* styling main */
main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  /* margin: auto; */
}

p {
  margin: auto;

  font-family: Helvetica, sans-serif;
  font-size: 20px;

  max-width: 40ch;
  min-width: 40ch;
  text-align: left;

  padding-bottom: 5rem;
  padding: 3rem;

  line-height: 2;

  color: #f6ecad;
}

/* styled logo */
.logo {
  display: flex;
  justify-content: flex-start;
  float: left;

  width: 100px;
  height: 50px;

  padding: 1rem;
}

/* styled label */
label {
  color: white;

  padding: 1rem;
}

h1 {
  padding: 10px;
  margin: 0;

  text-align: center;

  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 65px;

  filter: drop-shadow(5px 5px 5px black);

  color: whitesmoke;
}

.photographer {
  width: 45vw;
  height: 60vh; 

  /* max-width: 40ch;
  min-width: 40ch; */

  margin: auto;
}

/*styling nav */
nav {
  display: flex;
  justify-content: space-between;

  font-family: Helvetica, sans-serif;
  padding: auto;
}

/* styling navbar*/
 nav ul {
  /* padding: 1rem; */

  display: none;
   
  list-style: none;
  
  gap: 1rem;
 }

/* nav hover */
nav a:hover {
  background-color: lightsalmon;
  
  /* padding: 1rem; */
 
}

/* a {
  text-decoration: none;

  display: block;
} */

/* nav buttons */
nav a {
  color: white;

  font-size: 20px;

  text-decoration: none;

  display: block;
}

/* for label */
input {
  display: none;
}

/* ensures no checkboxes */
input:checked + ul {
  display: block;
}

/* nav buttons */
nav a {
  color: white;
}

.active {
  background-color: green;

  border: solid;
  border-color: orange;
 }

footer {
  padding: 1rem;
  
  /* background-color: black; */

  margin-top: 190px;

  flex: auto;
}

footer p {
  text-align: center;
}

.social-nav {
  margin: auto;

  display: flex;
  justify-content: center;

  padding: auto;

  gap: 2rem;

  color: white;
}

.social-nav ul {
  list-style: none;

  margin: auto;

  display: flex;
  justify-content: center;

  gap: 1rem;
}

.social-nav li:hover {
  transform: scale(1.5);
}

/* used different color for nav */
@media (color) {
  nav {
    background-color: #282828;
  } 
  nav ul {
    background-color: #282828;
  }
}

/* to make it mobile friendly */
@media (min-width: 50rem) {
  nav ul {
    display: flex;
    justify-content: flex-end;  
    align-items: center;
  }
}

/*toggle */
@media screen and (width > 50rem) {
  nav ul {
    display: flex;
    justify-content: space-evenly;
  }

  label {
    display: none;
  }

  input:checked + ul {
    display: none;
  }
}

